---
import { aboutInfo } from "../storage/aboutInfo";
import AboutCard from "./ui/AboutCard.astro";
---

<article class="w-full py-8 lg:py-12">
  <!-- Grid de cards -->
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 lg:gap-8 
    place-items-center max-w-6xl mx-auto px-4">
    {aboutInfo.map((aboutInfo) => (
      <AboutCard aboutInfo={aboutInfo} />
    ))}
  </div>
</article>
